
fastapi
uvicorn
langchain
langchain-google-genai
langsmith
tavily-python
langgraph
pydantic
python-dotenv
# pandas
# openpyxl
# xlrd
langchain-community
langchain-core
python-multipart
faiss-cpu
requests
huggingface_hub


# pip install huggingface_hub






